@page "/logout"
@using CourseSystem.App.Components.Layout
@layout EmptyLayout
@inject NavigationManager Navigation

<p>Wylogowywanie...</p>

@code {
    protected override void OnInitialized()
    {
        // Natychmiast przekieruj z forceLoad
        Navigation.NavigateTo("/api/auth/logout", forceLoad: true);
    }
}